{% extends 'base.html.twig' %}

{% block title %}Utilisateur Edition - {{parent()}}{% endblock %}


{% block body %}
{{parent()}}
<h2 class="page-header">Éditer un connect</h2>
{{form_start(form)}}
{{form_widget(form)}}
<a href="{{path('boxes_list')}}" class="btn btn-primary">Retour Liste</a>
<button type="submit" class="btn btn-danger">Sauvegarde</button>
{{form_end(form)}}
{% endblock %}