{% extends 'base.html.twig' %}

{% block title %}News Admin - {{parent()}}{% endblock %}

{% block body %}
{{parent()}}

<h2 class="page-header"><a href="{{path('admin_news_list')}}">Liste des box</a></h2>
<div>
    <a href="{{path('admin_news_create')}}" class="btn btn-primary" style="float:right;">Ajouter une news</a>
    <form action="?" method="post" class="filter">
        <fieldset>
            <legend>
                </lengend>
                <label for="selected_tag_id">Tag</label>
                <select id="selected_tag_id" name="selected_tag_id" autocomplete="off"
                    onchange="this.form.submit();">
                    {% if selected_client_id is same as(0)  %}
                    <option value="0" selected="selected">Tous</option>
                    {% else %}
                    <option value="0">Tous</option>
                    {% endif %}
                    {% for tag in tags %}
                    {% if selected_tag_id == (tag.id)  %}
                    <option value="{{tag.id}}" selected="selected">{{tag.name}}</option>
                    {% else %}
                    <option value="{{tag.id}}">{{tag.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
        </fieldset>
    </form>
</div>
<table class="table table-bordered">
    <thead>
        <th{% if news.isSorted('news.title') %} class="sorted" {% endif %}>
            {{ knp_pagination_sortable(news, 'Nom', 'news.title') }}</th>
            <th>Tags</th>
            <th>{{ knp_pagination_sortable(news, 'Description', 'news.description') }}</th>
            <th>Published At</th>
            <th>{{ knp_pagination_sortable(news, 'En ligne', 'news.publishedAt') }}</th>
            <th colspan="2">Actions</th>
    </thead>
    <tbody>
        {% for dispatch in news %}
        <tr{% if loop.index is odd %} style="background-color:lightsmoke" {% endif %}>
            <td><a href="{{url('admin_news_show', {'id': dispatch.id})}}">{{dispatch.name}}</a></td>
            <td>
                <ul>
                    {% for tag in dispatch.tags %}
                    <li>{{tag.name}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{dispatch.description}}</td>

            {% if dispatch.publishedAt is not null %}
            <td style="color:green;">OUI</td>
            {% else %}
            <td style="color:red;">NON</td>
            {% endif %}
            <td>{{dispatch.publishedAt|date('d/m/Y-H:i:s')}}</td>

            <td><a href="{{path('admin_news_edit', {'id': box.id})}}" class="btn btn-primary">Éditer</td>
            <td><a href="{{path('admin_news_delete', {'id': box.id})}}" class="btn btn-danger">Supprimer Client</td>
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: {{news.getTotalItemCount}} utilisateurs <br /> {{ knp_pagination_render(news) }}
            </td>
            <td colspan="2">
                <form action="?" method="get">
                    <fieldset>
                        <legend>Limite par page</legend>
                        <select name="numItemsPerPage" onchange="this.form.submit();">
                            <option{% if 10 == news.getItemNumberPerPage %} selected="selected" {% endif %}>10</option>
                                <option{% if 50 == news.getItemNumberPerPage %} selected="selected" {% endif %}>50
                                    </option>
                                    <option{% if 100 == news.getItemNumberPerPage %} selected="selected" {% endif %}>
                                        100</option>
                                        <option{% if 500 == news.getItemNumberPerPage %} selected="selected"
                                            {% endif %}>500</option>
                                            <option{% if 1000 == news.getItemNumberPerPage %} selected="selected"
                                                {% endif %}>1000</option>
                        </select>
                    </fieldset>
                </form>
            </td>
        </tr>
    </tfoot>
</table>
{# {{dump(news)}} #}
{% endblock %}