{% extends '@OcdNews/baseAdmin.html.twig' %}

{% block title %}News Admin - {{parent()}}{% endblock %}

{% block main %}

<h2 class="page-header"><a href="{{path('admin_news_list')}}">Liste des News</a></h2>
<a href="{{path('admin_news_create')}}" class="btn btn-success">Ajouter une News</a>
<table class="table table-bordered">
    <thead>
        <th{% if news.isSorted('news.title') %} class="sorted" {% endif %}>
            {{ knp_pagination_sortable(news, 'Nom', 'news.title') }}</th>
            <th>Tags</th>
            <th>{{ knp_pagination_sortable(news, 'Description', 'news.description') }}</th>
            <th>{{ knp_pagination_sortable(news, 'Contenu', 'news.content') }}</th>
            <th>En ligne</th>
            <th>{{ knp_pagination_sortable(news, 'Published At', 'news.publishedAt') }}</th>
            <th>{{ knp_pagination_sortable(news, 'Created At', 'news.createdAt') }}</th>
            <th>{{ knp_pagination_sortable(news, 'Updated At', 'news.updatedAt') }}</th>
            <th colspan="2">Actions</th>
    </thead>
    <tbody>
        {% for dispatch in news %}
        <tr{% if loop.index is odd %} style="background-color:lightsmoke" {% endif %}>
            <td><a href="{{url('admin_news_show', {'id': dispatch.id})}}">{{dispatch.title}}</a></td>
            <td>
                <ul>
                    {% for tag in dispatch.tags %}
                    <li>{{tag.name}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{dispatch.description}}</td>
            <td>{{dispatch.content}}</td>

            {% if dispatch.publishedAt is not null %}
            <td style="color:green;">OUI</td>
            <td>{{dispatch.publishedAt|date('d/m/Y-H:i:s')}}</td>
            {% else %}
            <td style="color:red;">NON</td>
            <td>-</td>
            {% endif %}
            <td>{{dispatch.createdAt|date('d/m/Y-H:i:s')}}</td>
            <td>{{dispatch.updatedAt|date('d/m/Y-H:i:s')}}</td>

            <td><a href="{{path('admin_news_edit', {'id': dispatch.id})}}" class="btn btn-primary">Éditer</td>
            <td><a href="{{path('admin_news_delete', {'id': dispatch.id})}}" class="btn btn-danger">Supprimer la News</td>
            </tr>
            {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total: {{news.getTotalItemCount}} utilisateurs <br /> {{ knp_pagination_render(news) }}
            </td>
            <td colspan="2">
                <form action="?" method="get">
                    <fieldset>
                        <legend>Limite par page</legend>
                        <select name="numItemsPerPage" onchange="this.form.submit();">
                            <option{% if 10 == news.getItemNumberPerPage %} selected="selected" {% endif %}>10</option>
                            <option{% if 50 == news.getItemNumberPerPage %} selected="selected" {% endif %}>50</option>
                            <option{% if 100 == news.getItemNumberPerPage %} selected="selected" {% endif %}>100</option>
                            <option{% if 500 == news.getItemNumberPerPage %} selected="selected" {% endif %}>500</option>
                            <option{% if 1000 == news.getItemNumberPerPage %} selected="selected" {% endif %}>1000</option>
                        </select>
                    </fieldset>
                </form>
            </td>
        </tr>
    </tfoot>
</table>
{# {{dump(news)}} #}
{% endblock %}