        <article class="news">
            <header style="background-image: url('{{ vich_uploader_asset(item, "backgroundFile") }}');">
                <h1 class="title">
                    <a href="{{ path('ocdnews_show', {slug: item.slug}) }}">
                        {{ item.title }}
                    </a>
                </h1>
                <p class="news-metadata">
                    <span class="metadata"><i class="fa fa-calendar"></i> {{ item.publishedAt|date('d/m/Y') }}</span>
                {% if item.updatedBy is defined and item.updatedBy is not null %}
                    <span class="metadata"><i class="fa fa-user"></i> {{ item.updatedBy.username }}</span>
                {% endif %}
                </p>
            </header>
            <section>
            {% if item.description %}
                <p>{{ item.description }}</p>
            {% endif %}

                {{ item.content|raw }}

            <div class="row">
                {% if item.tags is not empty %}
                <div class="col-md-4">
                    <h2>Tags</h2>
                    {{ include('@OcdNews/news/_news_tags.html.twig') }}
                </div>
                {% endif %}
                {% if item.links is not empty %}
                <div class="col-md-4">
                    <h2>Liens</h2>
                    {{ include('@OcdNews/news/_news_links.html.twig') }}
                </div>
                {% endif %}
                {% if item.attachments is not empty %}
                <div class="col-md-4">
                    <h2>Pièces jointes</h2>
                    {{ include('@OcdNews/news/_news_files.html.twig') }}
                </div>
                {% endif %}
            </div>
            </section>
        </article>
