{% extends '@OcdNews/base.html.twig' %}
{% trans_default_domain 'ocdnews' %}

{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('css/ocdnewsbundle') }}
{% endblock %}

{% block body_id 'news_index' %}

    {% block main %}
    <main id="news">
        <div class="row page-header">
            <div class="col-12">
                <h1>{{ 'ocdnews.page.index.title.site'|trans }}</h1>
                <h2><span class="crown">{{ 'ocdnews.page.index.title.section'|trans }}</span></h2>
            </div>
        </div>
    {{ include('@OcdNews/news/_latest.html.twig') }}
    </main>
    {% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ include('@OcdNews/news/_rss.html.twig') }}
{% endblock %}
