{% extends '@OcdNews/base.html.twig' %}
{% trans_default_domain 'ocdnews' %}

{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('css/ocdnewsbundle') }}
{% endblock %}

{% block body_id 'news_show' %}

{% block main %}
    <main id="news">
        <div class="row page-header">
            <div class="col-12">
                <h1>{{ 'ocdnews.page.index.title.site'|trans }}</h1>
                <h2><span class="crown">{{ 'ocdnews.page.index.title.section'|trans }}</span></h2>
            </div>
        </div>
        {% include '@OcdNews/news/_news.html.twig' with {'item': news} %}
    </main>
{% endblock %}

{% block sidebar %}
    {# {% if is_granted('edit', post) %}
        <div class="section">
            <a class="btn btn-lg btn-block btn-success" href="{{ path('admin_post_edit', {id: post.id}) }}">
                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_post'|trans }}
            </a>
        </div>
    {% endif %} #}

    {# the parent() function includes the contents defined by the parent template
      ('base.html.twig') for this block ('sidebar'). This is a very convenient way
      to share common contents in different templates #}
    {{ parent() }}

    
    {{ include('@OcdNews/news/_rss.html.twig') }}
{% endblock %}
